| <img align="left" src="{{&image}}">  _`{{id}}`_ : **{{title}}** <br> _by {{instructor}}_ | `{{completedIds.length}}/{{curriculumProgressIds.length}}` | [click here](https://github.com/smlkdev/udemy-stats/tree/master/{{repoPagePath}}) | ![](https://geps.dev/progress/{{progressBarValue}}) |
